////////////////////// --LOGO-- /////////////////////////
.logo {
  height: 3.25rem;
  margin-left: 2rem;

  @include respond(phone) {
    margin-left: 3.5rem;
    margin-right: 0;
  }

  @include respond(phone-small) {
    margin-left: 2.5rem;
  }
}

////////////////////// --SEARCH-- /////////////////////////
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    order: 3;
    flex: 0 0 100%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    @include respond(phone) {
      transform: translateX(-0.5rem);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @include respond(phone) {
        width: 95%;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    margin-left: -3.2rem;

    @include respond(phone) {
      transform: translateX(-0.5rem);
    }

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

////////////////////// --USER NAVIGATION-- /////////////////////////
.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon-box:first-child {
    @include respond(phone) {
      transform: translateX(30%);
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      top: 0.75rem;
    }

    @include respond(phone) {
      top: 0;
    }
  }

  &__user {
    position: relative;
    @include respond(phone-small) {
      padding: 0;
    }
    // Menu
    &-menu {
      display: none;
      position: absolute;
      top: 95%;
      right: 0;
    }

    &:hover &-menu,
    &:active &-menu {
      display: block;
    }
  }

  &__list {
    list-style: none;
    padding: 0.5rem;
  }

  &__item {
    padding: 1.2rem 1rem;
    width: 100%;
    position: relative;

    &:hover {
      background-color: var(--color-grey-light-2);
    }

    &:first-child {
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--color-grey-light-3);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-grey-dark-2);

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      height: 1rem;
      width: 1rem;
      margin-right: 1rem;
      transform: translateY(-50%);

      //Older browsers
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;
      // inherit the parent color (#white)
      fill: currentColor;
      transform: translateY(15%);

      @include respond(tab-port) {
        margin-right: 1rem;
      }

      @include respond(phone) {
        margin-right: 1rem;
      }

      @include respond(phone) {
        margin-right: 0.75rem;
      }
      @include respond(phone-small) {
      }
    }
  }

  &__icon-box {
  }

  &__photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;

    @include respond(phone-small) {
      margin-left: 0;
    }
  }

  &__user-name {
    margin-right: 2rem;

    // @include respond(phone-small) {
    //   margin-right: 1rem;
    // }
  }
}

////////////////////// --USER NAV GLOBAL UTILITIY-- ////////////////////////

.u-header {
  padding: 0.5rem 1.5rem 2rem;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;

  span {
    font-size: 3rem;
  }
}

.u-menu__container {
  max-height: 60rem;
  overflow-y: scroll;
}
.u-menu__box {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;

  &:hover {
    background-color: var(--color-grey-light-2);
  }
}

.u-photo--circle {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

////////////////////// --NOTIFICATION BOX-- ////////////////////////
.notification {
  position: relative;

  &-menu {
    display: none;
    position: absolute;
    top: 95%;
    left: -7.3rem;

    &:hover &__menu {
      display: block;
    }

    @include respond(tab-port) {
      width: 35rem;
    }

    @include respond(phone) {
      left: -3.5rem;
      width: 25rem;
    }

    &__header {
    }
  }

  &__box {
    display: flex;
    align-items: center;

    &-text {
      padding-right: 0.5rem;
    }
  }
  &:hover &-menu,
  &:active &-menu {
    display: block;
  }
}

////////////////////// --MESSAGE BOX-- /////////////////////////

.message {
  position: relative;

  &-menu {
    display: none;
    position: absolute;
    top: 95%;
    left: -13.5rem;

    @include respond(tab-port) {
      width: 35rem;
    }

    @include respond(phone) {
      left: -3.5rem;
      width: 25rem;
    }

    &__form {
      position: relative;

      &-input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 100%;

        &::-webkit-input-placeholder {
          font-weight: 100;
          color: var(--color-grey-light-4);
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__header {
    }

    &__button {
      border: none;
      background-color: var(--color-grey-light-2);
      margin-left: -3.2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-45%);

      &:focus {
        outline: none;
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3);
    }
  }

  &:hover &-menu,
  &:active &-menu {
    display: block;
  }

  .message-menu__user {
    display: flex;
    align-items: center;
    font-size: inherit;

    // &-photo {
    // }

    &-box {
      position: relative;
      flex: 1;

      &::after {
        content: "⬤";
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--color-primary-light);
      }
    }

    &-name {
      font-weight: bold;
    }

    &-message {
      font-size: 0.9em;
      font-weight: 300;
      color: var(--color-primary-light);
      padding-right: 2.8rem;
      width: 25rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

////////////////////// --MENU-- /////////////////////////
.menu {
  width: 35rem;
  height: auto;
  padding: 0.5rem;
  background-color: var(--color-grey-light-1);
  border-radius: 1rem;
  box-shadow: var(--shadow-dark);
  z-index: 100;

  @include respond(phone) {
    width: 25rem;
  }

  @include respond(phone-small) {
    width: 20rem;
  }
}

////////////////////// --SIDE NAVIGATION-- /////////////////////////

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tab-port) {
    display: flex;
    margin-top: 0;
  }

  @include respond(phone-small) {
    font-size: 1.25rem;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }

    @include respond(tab-port) {
      flex: 1;
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;

    // Make it on top of the hover effect
    position: relative;
    z-index: 10;

    // icon & text
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    @include respond(phone) {
      padding: 1rem 1.5rem;
    }

    @include respond(phone-small) {
      padding: 1rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    // inherit the parent color (#white)
    fill: currentColor;

    @include respond(tab-port) {
      margin-right: 1.5rem;
    }

    @include respond(phone) {
      margin-right: 1rem;
    }

    @include respond(phone) {
      margin-right: 0.75rem;
    }
    @include respond(phone-small) {
      display: none;
    }
  }
}

////////////////////// --LEGAL-- /////////////////////////
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding-inline: 2.5rem;
  margin-bottom: 2.5rem;

  @include respond(tab-port) {
    display: none;
  }
}

////////////////////// --GALLERY-- /////////////////////////
.gallery {
  display: flex;

  @include respond(phone-small) {
    // flex-direction: column;
    flex-wrap: wrap;
  }

  &__item {
    overflow: hidden;
    position: relative;

    &:not(:first-child) {
      @include respond(phone-small) {
        width: 50%;
        flex: 0 0 50%;
      }
    }
  }

  &__photo {
    width: 100%;
    display: block;
    transition: all 0.2s ease-out;
    transform: scale(1.1);
    cursor: pointer;
  }

  &__caption {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: #eb2f64e0;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(101%);
    transition: all 0.2s ease-out;

    @include respond(phone) {
      font-size: 1.5rem;
    }

    &--1 {
      @include respond(phone-small) {
        font-size: 2rem;
      }
    }
  }

  &__item:hover &__caption {
    transform: translateY(0);
  }

  &__item:hover &__photo {
    transform: scale(1);
  }
}

////////////////////// --HOTEL OVERVIEW-- /////////////////////////
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line-bottom);

  @include respond(phone-small) {
    height: auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    @include respond(phone-small) {
      flex-direction: column;
      align-items: stretch;
      padding: 1rem 0;
    }
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include respond(phone) {
      font-size: 2.05rem;
    }

    @include respond(phone-small) {
      padding: 0 0 0 2.25rem;
      margin-right: 0;
      flex-wrap: wrap;
      flex: 1;
    }
  }

  &__star-loc {
    flex: 1;

    display: flex;
    justify-content: space-between;

    @include respond(phone-small) {
      padding-left: 2.25rem;
      justify-content: flex-start;
      gap: 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
    @include respond(phone-small) {
      margin-right: 0;
    }
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);

    @include respond(phone) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  &__icon-location {
    margin-right: 0.5rem;
  }
  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-white);
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      padding: 0 2rem;
      margin-left: 1rem;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @include respond(phone) {
        font-size: 0.6rem;
      }
    }
  }
}

////////////////////// --BUTTON INLINE-- /////////////////////////
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.2s;

  @include respond(phone) {
    flex: 1;
  }

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);
    cursor: pointer;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.3);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

////////////////////// --PARAGRAPH-- /////////////////////////
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;

  @include respond(tab-port) {
    margin-bottom: 1.5rem;
  }
}

////////////////////// --LIST-- /////////////////////////
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line-bottom);
  border-bottom: var(--line-bottom);
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.7rem;

  &__item {
    flex: 0 0 50%;

    // use svg icon
    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      //Older browsers
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      //Newer browsers - masks (better approach)
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: var(--color-primary);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

        // if supported, then
        background-image: none;
      }
    }
  }
}

////////////////////// --RECOMMEND-- /////////////////////////
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    &:not(:last-child) {
      margin-right: -1.5rem;

      @include respond(tab-land) {
        margin-right: -2rem;
      }

      @include respond(tab-port) {
        margin-right: -2rem;
      }
    }
  }
}

////////////////////// --REVIEWS-- /////////////////////////
.review {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 2.5rem;
  }

  @include respond(phone) {
    padding: 2.5rem;
    max-width: 40rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;

    @include respond(tab-port) {
      margin-bottom: 1.5rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

////////////////////// --CTA-- /////////////////////////
.cta {
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include respond(tab-port) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }
  }

  @include respond(tab-port) {
    padding: 3rem;
  }

  @include respond(phone) {
    padding: 2rem;
  }
}

////////////////////// --CALL TO ACTION BUTTON-- /////////////////////////
.btn {
  font-size: 2rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  @include respond(tab-port) {
    font-size: 0.9em;
  }

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;

    @include respond(tab-port) {
      padding: 1.75rem 7rem;
    }

    @include respond(phone) {
      padding: 1.55rem 6rem;
    }
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
