@charset "UTF-8";
/*
0 - 375px           Small Phone
375 - 600px:        Phone
600 - 900px:        Tablet Portrait
900 - 1200px:       Table Landscape
1200 - 1800px:      Desktop (Current Styles)
1800px + :          Big Desktop
*/
/*
$breakpoint arguement choices: 
- small phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*COLORS*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4-color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-black: black;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  --line-bottom: 1px solid var(--color-grey-light-2);
}

::-webkit-scrollbar {
  width: 8px;
  color: var(--color-grey-dark-2);
  z-index: 10000;
  visibility: visible;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5rem;
}

@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .logo {
    margin-left: 3.5rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 26.25em) {
  .logo {
    margin-left: 2.5rem;
  }
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 37.5em) {
  .search__input {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

@media only screen and (max-width: 37.5em) {
  .search__input:focus {
    width: 95%;
  }
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
  margin-left: -3.2rem;
}

@media only screen and (max-width: 37.5em) {
  .search__button {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .user-nav__notification {
    top: 0.75rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .user-nav__notification {
    top: 0;
  }
}

.user-nav__user {
  position: relative;
}

@media only screen and (max-width: 26.25em) {
  .user-nav__user {
    padding: 0;
  }
}

.user-nav__user-menu {
  display: none;
  position: absolute;
  top: 95%;
  right: 0;
}

.user-nav__user:hover .user-nav__user-menu,
.user-nav__user:active .user-nav__user-menu {
  display: block;
}

.user-nav__list {
  list-style: none;
  padding: 0.5rem;
}

.user-nav__item {
  padding: 1.2rem 1rem;
  width: 100%;
  position: relative;
}

.user-nav__item:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__item:first-child {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-grey-light-3);
}

.user-nav__link {
  text-decoration: none;
  color: var(--color-grey-dark-2);
}

.user-nav__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/chevron-thin-right.svg);
  background-size: cover;
}

.user-nav__link-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
  fill: currentColor;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

@media only screen and (max-width: 56.25em) {
  .user-nav__link-icon {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .user-nav__link-icon {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .user-nav__link-icon {
    margin-right: 0.75rem;
  }
}

.user-nav__photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 26.25em) {
  .user-nav__photo {
    margin-left: 0;
  }
}

.user-nav__user-name {
  margin-right: 2rem;
}

.u-header {
  padding: 0.5rem 1.5rem 2rem;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.5rem;
}

.u-header span {
  font-size: 3rem;
}

.u-menu__container {
  max-height: 60rem;
  overflow-y: scroll;
  z-index: 999;
}

.u-menu__box {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}

.u-menu__box:hover {
  background-color: var(--color-grey-light-2);
}

.u-photo--circle {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.notification {
  position: relative;
}

.notification-menu {
  display: none;
  position: absolute;
  top: 95%;
  left: -7.3rem;
}

.notification-menu:hover .notification-menu__menu {
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .notification-menu {
    width: 35rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .notification-menu {
    left: -3.5rem;
    width: 25rem;
  }
}

.notification__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification__box-text {
  padding-right: 0.5rem;
}

.notification:hover .notification-menu,
.notification:active .notification-menu {
  display: block;
}

.message {
  position: relative;
}

.message-menu {
  display: none;
  position: absolute;
  top: 95%;
  left: -13.5rem;
}

@media only screen and (max-width: 56.25em) {
  .message-menu {
    width: 35rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .message-menu {
    left: -13.5rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .message-menu {
    left: -13.9rem;
    width: 100%;
  }
}

.message-menu__form {
  position: relative;
}

.message-menu__form-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 100%;
}

.message-menu__form-input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.message-menu__form-input:focus {
  outline: none;
}

.message-menu__button {
  border: none;
  background-color: var(--color-grey-light-2);
  margin-left: -3.2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.message-menu__button:focus {
  outline: none;
}

.message-menu__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

.message:hover .message-menu,
.message:active .message-menu {
  display: block;
}

.message .message-menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
}

.message .message-menu__user-box {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message .message-menu__user-box::after {
  content: "⬤";
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-primary-light);
}

.message .message-menu__user-name {
  font-weight: bold;
}

.message .message-menu__user-message {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--color-primary-light);
  padding-right: 2.8rem;
  width: 25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu {
  width: 35rem;
  height: auto;
  padding: 0.5rem;
  background-color: var(--color-grey-light-1);
  border-radius: 1rem;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  z-index: 100000;
}

@media only screen and (max-width: 26.25em) {
  .menu {
    width: 30rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

@media only screen and (max-width: 26.25em) {
  .side-nav {
    font-size: 1.25rem;
  }
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1rem 0.5rem;
  }
}

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__icon {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0.75rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .side-nav__icon {
    display: none;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding-inline: 2.5rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 26.25em) {
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item {
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 26.25em) {
  .gallery__item:not(:first-child) {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.gallery__photo {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.gallery__caption {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: #eb2f64e0;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 37.5em) {
  .gallery__caption {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .gallery__caption--1 {
    font-size: 2rem;
  }
}

.gallery__item:hover .gallery__caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery__item:hover .gallery__photo {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--line-bottom);
}

@media only screen and (max-width: 26.25em) {
  .overview {
    height: auto;
  }
}

.overview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 26.25em) {
  .overview__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 1rem 0;
  }
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 2.05rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .overview__heading {
    padding: 0 0 0 2.25rem;
    margin-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.overview__star-loc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 26.25em) {
  .overview__star-loc {
    padding-left: 2.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 26.25em) {
  .overview__stars {
    margin-right: 0;
  }
}

.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}

@media only screen and (max-width: 37.5em) {
  .overview__icon-star, .overview__icon-location {
    width: 1.55rem;
    height: 1.55rem;
  }
}

.overview__location {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__icon-location {
  margin-right: 0.5rem;
}

.overview__rating {
  background-color: var(--color-primary);
  margin-left: 3rem;
  color: var(--color-white);
  padding: 0 2.25rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 2rem;
    margin-left: 1rem;
  }
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 2rem;
  }
}

.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: 0.6rem;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 37.5em) {
  .btn-inline {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.btn-inline span {
  margin-left: 3px;
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}

.btn-inline:hover {
  color: var(--color-grey-dark-1);
  cursor: pointer;
}

.btn-inline:hover span {
  margin-left: 8px;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.3);
            box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.3);
            box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .paragraph:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line-bottom);
  border-bottom: var(--line-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.7rem;
}

.list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-image: url(../img/chevron-thin-right.svg);
  background-size: cover;
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  .list__item::before {
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
            mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
            mask-size: cover;
    background-image: none;
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

@media only screen and (max-width: 75em) {
  .recommend__photo:not(:last-child) {
    margin-right: -2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .recommend__photo:not(:last-child) {
    margin-right: -2rem;
  }
}

.review {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .review {
    padding: 2.5rem;
    max-width: 40rem;
  }
}

.review__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .review__text {
    margin-bottom: 1.5rem;
  }
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark-3);
}

.review__rating {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  content: "\201C";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  font-size: 20rem;
  line-height: 1;
  color: var(--color-grey-light-2);
  font-family: sans-serif;
  z-index: 1;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

.cta__book-now {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .cta__book-now {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cta__book-now {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cta {
    padding: 2rem;
  }
}

.btn {
  font-size: 2rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .btn {
    font-size: 0.9em;
  }
}

.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__visible {
  padding: 2rem 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .btn__visible {
    padding: 1.75rem 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn__visible {
    padding: 1.55rem 6rem;
  }
}

.btn__invisible {
  display: inline-block;
  position: absolute;
  padding: 2rem 0;
  left: 0;
  top: -100%;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
}

.btn:hover .btn__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.btn:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.container {
  max-width: 140rem;
  margin-block: 2rem;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

@media only screen and (max-width: 75em) {
  .container {
    margin-block: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .header {
    padding-inline: 1rem;
    padding-block: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    height: 12rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

@media only screen and (max-width: 26.25em) {
  .header {
    padding-inline: 0;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line-bottom);
}

@media only screen and (max-width: 56.25em) {
  .detail {
    gap: 3rem;
    padding: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 26.25em) {
  .detail {
    gap: 2rem;
    padding: 2rem;
  }
}

.description {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .description {
    padding: 2rem;
  }
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .user-reviews {
    gap: 3rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .user-reviews {
    gap: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */